@import '../../styles/breakpoints';
@import '../../styles/mixins';
@import '../../styles/variables';

.Home {
    .videos {
        padding: 0rem 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        @include sm {
            padding: 0rem 2rem;
        }

        & > * {
            flex: 1;
        }
    }
}
