.Home {
    .videos {
        padding: 0rem 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & > * {
            flex: 1;
        }
    }
}
