@import "../styles/breakpoints";
@import "../styles/mixins";
@import "../styles/variables";

.CategoriesBar {
    display: flex;
    justify-content: flex;
    align-items: center;
    padding: 3rem 1.5rem;
    gap: 1.5rem;
    overflow-x: auto;
    margin-left: auto;
    width: 100%;
    background-color: $black-primary;

    &::-webkit-scrollbar {
        display: none;
    }

    & > span {
        padding: 0.5rem 1rem;
        border-radius: 0.8rem;
        background-color: $light-bg;
        color: white;
        font-size: 1.3rem;
        white-space: pre;

        &.active {
            background-color: $hover-light-bg;
        }

        &:hover {
            background-color: $hover-light-bg;
            cursor: pointer;
        }
    }
}
