@import "../styles/breakpoints";
@import "../styles/mixins";
@import "../styles/variables";

.Sidebar {
    height: 100vh;
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
    padding: 1rem;
    position: fixed;
    z-index: 5;
    background-color: $black-primary;

    @include lg {
        width: fit-content;
    }

    &.hide {
        transform: translateX(-23rem);
    }

    .active {
        background-color: $light-bg;
    }

    & > *:not(.hr) {
        padding: 0.8rem 1rem;
        border-radius: 0.8rem;
        font-size: 1.4rem;
        gap: 2rem;
        display: flex;
        color: white;
        padding-left: 1.5rem;
        align-items: center;
        font-weight: 200;

        &:nth-child(3) {
            i {
                font-size: 2rem;
            }
        }

        &:hover {
            background-color: $light-bg;
            cursor: pointer;
        }
    }

    & > * {
        @include lg {
            width: fit-content;
            padding-left: 1rem !important;
            margin-left: 0.8rem;
            margin-bottom: 1rem;
        }
    }

    .nav-signin {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        gap: 1rem !important;
        p {
            @include line-wrap(2);
        }

        .sign-in {
            padding: 0.5rem 0.8rem;
            padding-right: 1.2rem;
            color: #3992e1;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.196);
            white-space: pre;

            i {
                font-size: 1.4rem;
                width: 2.6rem;
                height: 2.5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid;
            }

            &:hover {
                background-color: #3993e133;
                border: 1px solid rgba(128, 128, 128, 0);
            }
        }
    }

    & .link-text {
        @include lg {
            display: none;
        }
    }

    .hr {
        width: 100%;
        border-top: 1px solid $hover-light-bg;
        margin-block: 0.5rem;

        @include lg {
            display: none;
        }
    }

    &::-webkit-scrollbar {
        width: 1.4rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1.4rem 1.4rem transparent;
        border: solid 0.4rem transparent;
    }

    &::-webkit-scrollbar-thumb {
        border: solid 0.4rem transparent;
        border-radius: 1.4rem;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}
